.build/
.swiftpm/
*.xcuserstate
xcuserdata/
DerivedData/
.DS_Store
GoogleService-Info.plist
*.xcconfig.local
*.xcodeproj/
App/Info.plist
build/
screenshots/
ShareExtension/Info.plist
Config/*.entitlements
.tools/
WidgetExtension/Info.plist
